/*****************header******************/
.header{
    width: 100%;
    background: #658ff5;
}
.header .head-bg{
    display: none;
}
.header .head{
    width: 1000px;
    margin: 0 auto;
}
.index-header{
    position: relative;
    z-index: 100;
}
.index-header .head-bg , .index-header .head{
    position: absolute;
    top: 0;
    height: 60px;
    z-index: 100;
}
.index-header .head-bg{
    left: 0;
    width: 100%;
    background: #658ff5;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.index-header .head{
    left: 50%;
    width: 1000px;
    margin-left: -500px;
}
.logo{
    float: left;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
}
.login-btn{
    float: right;
    width: 80px;
    height: 28px;
    margin-top: 15px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}
.nav{
    float: left;
    margin-left: 300px;
}
.nav-child{
    position: relative;
    z-index: 101;
    float: left;
    margin: 0 10px;
}
.nav-child-a{
    display: block;
    height: 58px;
    padding: 0 15px;
    line-height: 60px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.nav-child-a.active , .nav-child-a.mouseover{
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    background: transparent;
    background-color: rgba(0,0,0,0.10);
    border-bottom: 2px solid #ff3062;
}
.menu-nav{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 101;
    display: none;
    width: 120%;
}
.menu-nav a{
    display: block;
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background: #5A80DC;
}
.menu-nav a span{
    float: right;
    margin-right: 5px;
    font-size: 14px;
    color: #5A80DC;
}
.menu-nav a:hover{
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    background: #658FF5;
}
.menu-nav a:hover span{
    color: #fff;
}
/*****************footer******************/
.footer{
    height: 110px;
    text-align: center;
    background: #658FF5;
}
.footer p{
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.footer p:first-child{
    padding: 25px 0 20px;
}
/*****************common-block******************/
.banner{
    margin-top: 30px;
}
.main{
    width: 900px;
    min-height: 650px;
    margin-top: 20px;
    padding: 15px 50px 0;
    background: #fff;
    overflow: hidden;
}
.main h2 , .main h3 , .main h4{
    color: #212121;
}
.main p{
    color: #909090;
}
.main p a{
    color: #658FF5;
}
.main p a:hover{
    color: #5072c4;
}
/*****************index******************/
/*carousel*/
.slider{
    position: relative;
    z-index: 99;
    width: 100%;
    height: 660px;
    overflow: hidden;
}
.sliderbox{
    position:relative;
    z-index: 99;
    width:100%;
    height:660px;
    overflow:hidden;
}
.sliderbox li{
    position:absolute;
    left:0;
    top:0;
    z-index: 99;
    width: 100%;
    height: 100%;
}
.slidernav{
    position:absolute;
    left: 0;
    bottom: 20px;
    z-index: 100;
    width: 100%;
    height: 5px;
    text-align:center;
}
.slidernav li{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:14px;
    height:5px;
    margin:0 5px;
    background: #658FF5;
    border-radius: 2px;
    cursor: pointer;
}
.slidernav li.current{
    width: 16px;
    background: #FF3062;
    border-radius: 2px;
}
/*block*/
.block{
    position: relative;
    width: 100%;
    height: 500px;
}
.block-table{
    display: table;
    height: 500px;
}
.block-text{
    display: table-cell;
    vertical-align: middle;
}
.title{
    height: 24px;
    padding-left: 10px;
    line-height: 24px;
    font-size: 24px;
    color: #658FF5;
    border-left: 2px solid #ff3062;
}
.block-text p{
    width: 680px;
    padding-left: 12px;
    text-align: justify;
    line-height: 24px;
    font-size: 16px;
    color: #212121;
}
.block .title{
    margin-bottom: 20px;
}
.white .block-text{
    padding-left: 250px;
}
.white.bg1{
    background: #fff url("../images/block-white-bg1.png") no-repeat left center;
}
.white.bg2{
    background: #fff url("../images/block-white-bg2.png") no-repeat left center;
}
.blue.bg1{
    background: #ededed url("../images/block-blue-bg1.png") no-repeat right center;
}
.blue.bg2{
    background: #ededed url("../images/block-blue-bg2.png") no-repeat right center;
}

.horn{
    position: absolute;
    left: 50%;
    bottom: -25px;
    z-index: 2;
    width: 30px;
    margin-left: -15px;
    font-size: 30px;
}
.white .horn{
    color: #fff;
}
.blue .horn{
    color: #ededed;
}

/*product*/
.product{
    padding: 50px 0 80px;
}
.product-list{
    margin-top: 60px;
    overflow: hidden;
}
.product-list li{
    float: left;
    width: 130px;
    margin: 0 60px;
    text-align: center;
}
.product-list li span{
    display: inline-block;
    width: 116px;
    height: 100px;
    background: url("../images/product-list-icon.png") no-repeat;
}
.product-list li .bg1{
    background-position: 0 0;
}
.product-list li .bg2{
    background-position: -116px 0;
}
.product-list li .bg3{
    background-position: -232px 0;
}
.product-list li .bg4{
    background-position: -348px 0;
}
.product-list li h4{
    margin: 40px 0 15px;
    font-size: 18px;
}
.product-list li p{
    text-align: justify;
    line-height: 20px;
    color: #979797;
}

/*****************帮助中心******************/
.content-title{
    padding: 15px 0;
    font-size: 24px;
    border-bottom: 2px dotted #ccc;
}
.faq-list{
    width: 100%;
    overflow: hidden;
}
.faq-list ul{
    width: 980px;
    overflow: hidden;
}
.faq-list li{
    position: relative;
    float: left;
    width: 382px;
    margin: 30px 80px 0 0;
    padding: 0 0 30px 28px;
    font-size: 16px;
}
.faq-list li h4{
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 18px;
}
.faq-list li p{
    margin-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.faq-list li p a{
    color: #646464;
}
.faq-list li p a:hover{
    color: #212121;
}
.faq-list li .more{
    display: inline-block;
    margin-top: 25px;
    color: #658FF5;
}
.faq-list li .more:hover{
    color: #5072c4;
}
.faq-list li .icon{
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    background: url("../images/faq-list-icon.png") no-repeat;
}
.faq-list li .bg1{
    background-position: 0 0;
}
.faq-list li .bg2{
    background-position: -16px 0;
}
.faq-list li .bg3{
    background-position: -32px 0;
}
/*********************帮助中心-列表//详情***********************/
.crumbs-nav{
    padding-top: 15px;
    color: #658FF5;
}
.crumbs-nav a{
    color: #658FF5;
}
.crumbs-nav a:hover{
    color: #5072c4;
}
.crumbs-nav span{
    padding: 0 5px;
}
.question{
    margin-top: 15px;
    overflow: hidden;
}
.question-list{
    float: left;
    width: 610px;
    padding-bottom: 10px;
}
.question-list-child{

}
.question-list-child h4{
    padding: 15px 0 15px 30px;
    line-height: 18px;
    font-size: 18px;
    background: url("../images/message-b.png") no-repeat left center;
    border-bottom: 1px dotted #ccc;
}
.question-list-child h4 a{
    color: #212121;
}
.question-list-child h4 a:hover{
    color: #658FF5;
}
.answer{
    padding: 15px 15px 15px 30px;
}
.answer p{
    position: relative;
    line-height: 24px;
    text-align: justify;
}
/*.answer p:after{
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    width: 28px;
    height: 24px;
    background: #fff;
}*/
.hot-q{
    float: right;
    width: 218px;
    margin-top: 48px;
    padding: 5px 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.hot-q h4{
    padding: 15px 0 15px 22px;
    line-height: 16px;
    background: url("../images/hot-q-h4.png") no-repeat left center;
    border-bottom: 1px solid #ccc;
}
.hot-q ul{
    overflow: hidden;
}
.hot-q li{
    margin-top: -1px;
    height: 42px;
    padding-left: 20px;
    line-height: 42px;
    border-top: 1px dotted #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #658FF5;
    background: url("../images/hot-q-icon.png") no-repeat left center;
}
.hot-q li a{
    font-size: 12px;
    color: #658FF5;
}
.hot-q li a:hover{
    color: #5072c4;
}
.email{
    color: #658FF5;
    text-decoration: underline;
}
.email:hover{
    color: #5072c4;
}
/*********************SDK下载***********************/
.download{
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
}
.download h4{
    padding-top: 30px;
    font-size: 18px;
    color: #646464;
}
.download-list{
    width: 920px;
    overflow: hidden;
}
.download-list li{
    float: left;
    width: 168px;
    height: 258px;
    margin: 20px 20px 0 0;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.language-icon{
    height: 190px;
    border-bottom: 1px dotted #ccc;
}
.language-icon.bg-j{
    background: url("../images/download-icon-j.png") no-repeat center;
}
.language-icon.bg-p{
    background: url("../images/download-icon-p.png") no-repeat center;
}
.language-icon.bg-n{
    background: url("../images/download-icon-n.png") no-repeat center;
}
.language-icon.bg-py{
    background: url("../images/download-icon-py.png") no-repeat center;
}
.language-icon.bg-d{
    background: url("../images/download-icon-d.png") no-repeat center;
}
.language-icon.bg-q{
    background: url("../images/download-icon-q.png") no-repeat center;
}
.download-mode{
    height: 20px;
    padding-top: 25px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #646464;
}
.download-mode a{
    color: #658FF5;
}
.download-mode a:hover{
    color: #5072c4;
}
.download-mode span{
    padding: 0 10px;
    color: #909090;
}
.download-box{
    width: 920px;
    padding-bottom: 30px;
    overflow: hidden;
}
.download-box .download{
    float: left;
    width: 210px;
    margin-right: 20px;
}
/*********************关于我们***********************/
.about-us{
    padding: 20px 100px 0;
}
.about-us h4{
    font-size: 16px;
    color: #658FF5;
}
.about-us p{
    margin-top: 20px;
    line-height: 24px;
}
.photo{
    margin-top: 40px;
    text-align: center;
}
/************************接入指南****************************/
.guide{
    overflow: hidden;
}
.guide-nav{
    float: left;
    width: 160px;
}
.guide-nav p{
    margin-top: 15px;
    line-height: 20px;
}
.guide-nav p:first-child{
    margin-top: 20px;
}
.guide-nav p a{
    font-size: 18px;
    color: #646464;
}
.guide-nav p span{
    float: right;
    width: 10px;
    height: 12px;
    margin: 4px 10px 0 0;
}
.guide-nav p:hover a{
    color: #658FF5;
}
.guide-nav p:hover span{
    background: url("../images/guide-nav-icon.png") no-repeat;
}
.guide-content{
    float: right;
    width: 665px;
    margin-top: 58px;
}
.section{
    padding: 20px 0;
    border-top: 2px dotted #ccc;
}
.section h4{
    font-size: 16px;
    color: #658FF5;
}
.section p{
    margin-top: 20px;
    line-height: 24px;
}
.section .point{
    padding-left: 25px;
    background: url("../images/point.png") no-repeat left 9px;
}
.section .c-646464{
    color: #646464;
}
.section .s-p{
    margin-top: 0;
    padding-left: 25px;
    font-size: 12px;
}
.section .s-p.mt10{
    margin-top: 10px;
}
.section .s-p .bf:before{
    content: "需要五个字";
    opacity: 0;
    filter: alpha(opacity=0);
}
.section-img{
    margin-top: 20px;
}